/*--------------------------------------*\
  Header
\*--------------------------------------*/

.site-head {
  position: relative;
  @include outer-container;
  text-align: center;
  text-shadow: none;
}

.logo {
  display: block;
  width: 200px;
  margin: 20px auto -88px;
}

.logo__img {
  display: block;
  width: 200px;
  margin: 20px auto -88px;
  background: url(../img/conditionizr.png);
  position: relative;
  z-index: 999;

  .svg & {
    background: url(../img/conditionizr.svg);
    background-size: 100%;
  }

  @include media($lap) {
    width: 150px;
    margin: 20px 20px -66px;
  }
}

.site-nav {
  position: absolute;
  top: 50px;
  right: 20px;

  li {
    display: inline;
    margin-left: 20px;
    @include font-size(14px);

    [class^=icon-] {
      padding-right: 5px;
      color: $brand-primary;
    }

    a {
      color: #fff;

      &:hover {
        color: $brand-tertiary;
      }
    }
    @include media($mob) {
      @include font-size(32px, false);
    }
  }

  .site-nav__label {
    @include media($mob) {
      display: none;
    }
  }

  @include media($mob) {
    top: 30px;
  }
}
